*.d
*.obj
*.o
*.tlog
*.lastbuildstate
*.idb
*.pdb
*~
*.swp
*.class
**/cmake-build-debug/
**/CMakeFiles/*
**/build/*
*.log
**/CMakeCache.txt

#Make
*.cmake
*.tcl

#CLion
.clion.source.upload.marker

#Execuatelbe
Tutorial
inet_addr
endian_conv
low_open
low_read
test
main
